name: Fetch files
on:
  workflow_dispatch:
  #schedule: [{cron: "0 3 * * *"}]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Run fetch script
        shell: bash
        run: |
          ./ scripts/fetch.sh
